In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.metrics import classification_report, roc_auc_score
from sklearn.model_selection import GridSearchCV
import import_ipynb
import functions
from sklearn.utils import resample

importing Jupyter notebook from functions.ipynb

load  data

In [2]:
# Path to the data file
data_path = 'data/loans_full_schema.csv'

# Load the data using the load_data function from the imported notebook
data = functions.load_data(data_path)
data

Head:
   Unnamed: 0                emp_title  emp_length state homeownership  \
0           1  global config engineer          3.0    NJ      MORTGAGE
1           2   warehouse office clerk        10.0    HI          RENT
2           3                 assembly         3.0    WI          RENT
3           4         customer service         1.0    PA          RENT
4           5     security supervisor         10.0    CA          RENT

   annual_income  verified_income  debt_to_income  annual_income_joint  \
0        90000.0         Verified           18.01                  NaN
1        40000.0     Not Verified            5.04                  NaN
2        40000.0  Source Verified           21.15                  NaN
3        30000.0     Not Verified           10.16                  NaN
4        35000.0         Verified           57.96              57000.0

  verification_income_joint  ...  sub_grade  issue_month  loan_status  \
0                       NaN  ...         C3     Mar-2018      Current
1                       NaN  ...         C1     Feb-2018      Current
2                       NaN  ...         D1     Feb-2018      Current
3                       NaN  ...         A3     Jan-2018      Current
4                  Verified  ...         C3     Mar-2018      Current

   initial_listing_status  disbursement_method   balance  paid_total  \
0                   whole                 Cash  27015.86     1999.33
1                   whole                 Cash   4651.37      499.12
2              fractional                 Cash   1824.63      281.80
3                   whole                 Cash  18853.26     3312.89
4                   whole                 Cash  21430.15     2324.65

   paid_principal  paid_interest  paid_late_fees
0          984.14        1015.19             0.0
1          348.63         150.49             0.0
2          175.37         106.43             0.0
3         2746.74         566.15             0.0
4         1569.85         754.80             0.0

[5 rows x 56 columns]

Shape:
(10000, 56)

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 56 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Unnamed: 0                        10000 non-null  int64
 1   emp_title                         9167 non-null   object
 2   emp_length                        9183 non-null   float64
 3   state                             10000 non-null  object
 4   homeownership                     10000 non-null  object
 5   annual_income                     10000 non-null  float64
 6   verified_income                   10000 non-null  object
 7   debt_to_income                    9976 non-null   float64
 8   annual_income_joint               1495 non-null   float64
 9   verification_income_joint         1455 non-null   object
 10  debt_to_income_joint              1495 non-null   float64
 11  delinq_2y                         10000 non-null  int64
 12  months_since_last_delinq          4342 non-null   float64
 13  earliest_credit_line              10000 non-null  int64
 14  inquiries_last_12m                10000 non-null  int64
 15  total_credit_lines                10000 non-null  int64
 16  open_credit_lines                 10000 non-null  int64
 17  total_credit_limit                10000 non-null  int64
 18  total_credit_utilized             10000 non-null  int64
 19  num_collections_last_12m          10000 non-null  int64
 20  num_historical_failed_to_pay      10000 non-null  int64
 21  months_since_90d_late             2285 non-null   float64
 22  current_accounts_delinq           10000 non-null  int64
 23  total_collection_amount_ever      10000 non-null  int64
 24  current_installment_accounts      10000 non-null  int64
 25  accounts_opened_24m               10000 non-null  int64
 26  months_since_last_credit_inquiry  8729 non-null   float64
 27  num_satisfactory_accounts         10000 non-null  int64
 28  num_accounts_120d_past_due        9682 non-null   float64
 29  num_accounts_30d_past_due         10000 non-null  int64
 30  num_active_debit_accounts         10000 non-null  int64
 31  total_debit_limit                 10000 non-null  int64
 32  num_total_cc_accounts             10000 non-null  int64
 33  num_open_cc_accounts              10000 non-null  int64
 34  num_cc_carrying_balance           10000 non-null  int64
 35  num_mort_accounts                 10000 non-null  int64
 36  account_never_delinq_percent      10000 non-null  float64
 37  tax_liens                         10000 non-null  int64
 38  public_record_bankrupt            10000 non-null  int64
 39  loan_purpose                      10000 non-null  object
 40  application_type                  10000 non-null  object
 41  loan_amount                       10000 non-null  int64
 42  term                              10000 non-null  int64
 43  interest_rate                     10000 non-null  float64
 44  installment                       10000 non-null  float64
 45  grade                             10000 non-null  object
 46  sub_grade                         10000 non-null  object
 47  issue_month                       10000 non-null  object
 48  loan_status                       10000 non-null  object
 49  initial_listing_status            10000 non-null  object
 50  disbursement_method               10000 non-null  object
 51  balance                           10000 non-null  float64
 52  paid_total                        10000 non-null  float64
 53  paid_principal                    10000 non-null  float64
 54  paid_interest                     10000 non-null  float64
 55  paid_late_fees                    10000 non-null  float64
dtypes: float64(17), int64(26), object(13)
memory usage: 4.3+ MB
None

,Unnamed: 0,emp_title,emp_length,state,homeownership,annual_income,verified_income,debt_to_income,annual_income_joint,verification_income_joint,...,sub_grade,issue_month,loan_status,initial_listing_status,disbursement_method,balance,paid_total,paid_principal,paid_interest,paid_late_fees
0,1,global config engineer,3.0,NJ,MORTGAGE,90000.0,Verified,18.01,NaN,NaN,...,C3,Mar-2018,Current,whole,Cash,27015.86,1999.33,984.14,1015.19,0.0
1,2,warehouse office clerk,10.0,HI,RENT,40000.0,Not Verified,5.04,NaN,NaN,...,C1,Feb-2018,Current,whole,Cash,4651.37,499.12,348.63,150.49,0.0
2,3,assembly,3.0,WI,RENT,40000.0,Source Verified,21.15,NaN,NaN,...,D1,Feb-2018,Current,fractional,Cash,1824.63,281.80,175.37,106.43,0.0
3,4,customer service,1.0,PA,RENT,30000.0,Not Verified,10.16,NaN,NaN,...,A3,Jan-2018,Current,whole,Cash,18853.26,3312.89,2746.74,566.15,0.0
4,5,security supervisor,10.0,CA,RENT,35000.0,Verified,57.96,57000.0,Verified,...,C3,Mar-2018,Current,whole,Cash,21430.15,2324.65,1569.85,754.80,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,owner,10.0,TX,RENT,108000.0,Source Verified,22.28,NaN,NaN,...,A4,Jan-2018,Current,whole,Cash,21586.34,2969.80,2413.66,556.14,0.0
9996,9997,director,8.0,PA,MORTGAGE,121000.0,Verified,32.38,NaN,NaN,...,D3,Feb-2018,Current,whole,Cash,9147.44,1456.31,852.56,603.75,0.0
9997,9998,toolmaker,10.0,CT,MORTGAGE,67000.0,Verified,45.26,107000.0,Source Verified,...,E2,Feb-2018,Current,fractional,Cash,27617.65,4620.80,2382.35,2238.45,0.0
9998,9999,manager,1.0,WI,MORTGAGE,80000.0,Source Verified,11.99,NaN,NaN,...,A1,Feb-2018,Current,whole,Cash,21518.12,2873.31,2481.88,391.43,0.0
9999,10000,operations analyst,3.0,CT,RENT,66000.0,Not Verified,20.82,NaN,NaN,...,B4,Feb-2018,Current,whole,Cash,11574.83,1658.56,1225.17,433.39,0.0

In [3]:
# Check for null values in the entire DataFrame
null_values = data.isnull().sum()

# Print the columns with their corresponding number of null values
print(null_values)

# Optionally, filter and display only columns with null values
null_columns = null_values[null_values > 0]
print( )
print("Columns with null values:")
print(null_columns.shape)
print( )

# Check for null values in percentage
null_percentage = (data.isnull().sum() / len(data)) * 100
print("Percentage of null values in each column:")
print(null_percentage)

Unnamed: 0                             0
emp_title                            833
emp_length                           817
state                                  0
homeownership                          0
annual_income                          0
verified_income                        0
debt_to_income                        24
annual_income_joint                 8505
verification_income_joint           8545
debt_to_income_joint                8505
delinq_2y                              0
months_since_last_delinq            5658
earliest_credit_line                   0
inquiries_last_12m                     0
total_credit_lines                     0
open_credit_lines                      0
total_credit_limit                     0
total_credit_utilized                  0
num_collections_last_12m               0
num_historical_failed_to_pay           0
months_since_90d_late               7715
current_accounts_delinq                0
total_collection_amount_ever           0
current_installment_accounts           0
accounts_opened_24m                    0
months_since_last_credit_inquiry    1271
num_satisfactory_accounts              0
num_accounts_120d_past_due           318
num_accounts_30d_past_due              0
num_active_debit_accounts              0
total_debit_limit                      0
num_total_cc_accounts                  0
num_open_cc_accounts                   0
num_cc_carrying_balance                0
num_mort_accounts                      0
account_never_delinq_percent           0
tax_liens                              0
public_record_bankrupt                 0
loan_purpose                           0
application_type                       0
loan_amount                            0
term                                   0
interest_rate                          0
installment                            0
grade                                  0
sub_grade                              0
issue_month                            0
loan_status                            0
initial_listing_status                 0
disbursement_method                    0
balance                                0
paid_total                             0
paid_principal                         0
paid_interest                          0
paid_late_fees                         0
dtype: int64

Columns with null values:
(10,)

Percentage of null values in each column:
Unnamed: 0                           0.00
emp_title                            8.33
emp_length                           8.17
state                                0.00
homeownership                        0.00
annual_income                        0.00
verified_income                      0.00
debt_to_income                       0.24
annual_income_joint                 85.05
verification_income_joint           85.45
debt_to_income_joint                85.05
delinq_2y                            0.00
months_since_last_delinq            56.58
earliest_credit_line                 0.00
inquiries_last_12m                   0.00
total_credit_lines                   0.00
open_credit_lines                    0.00
total_credit_limit                   0.00
total_credit_utilized                0.00
num_collections_last_12m             0.00
num_historical_failed_to_pay         0.00
months_since_90d_late               77.15
current_accounts_delinq              0.00
total_collection_amount_ever         0.00
current_installment_accounts         0.00
accounts_opened_24m                  0.00
months_since_last_credit_inquiry    12.71
num_satisfactory_accounts            0.00
num_accounts_120d_past_due           3.18
num_accounts_30d_past_due            0.00
num_active_debit_accounts            0.00
total_debit_limit                    0.00
num_total_cc_accounts                0.00
num_open_cc_accounts                 0.00
num_cc_carrying_balance              0.00
num_mort_accounts                    0.00
account_never_delinq_percent         0.00
tax_liens                            0.00
public_record_bankrupt               0.00
loan_purpose                         0.00
application_type                     0.00
loan_amount                          0.00
term                                 0.00
interest_rate                        0.00
installment                          0.00
grade                                0.00
sub_grade                            0.00
issue_month                          0.00
loan_status                          0.00
initial_listing_status               0.00
disbursement_method                  0.00
balance                              0.00
paid_total                           0.00
paid_principal                       0.00
paid_interest                        0.00
paid_late_fees                       0.00
dtype: float64

In [4]:
data.drop(columns=['Unnamed: 0'], inplace=True)
data.sample(5)

,emp_title,emp_length,state,homeownership,annual_income,verified_income,debt_to_income,annual_income_joint,verification_income_joint,debt_to_income_joint,...,sub_grade,issue_month,loan_status,initial_listing_status,disbursement_method,balance,paid_total,paid_principal,paid_interest,paid_late_fees
5062,behavioral health unit supervisor,10.0,CA,MORTGAGE,115000.0,Source Verified,14.86,NaN,NaN,NaN,...,C3,Mar-2018,Current,whole,DirectPay,33769.83,2419.62,1230.17,1189.45,0.0
6913,physical therapist,6.0,CA,OWN,102000.0,Verified,9.86,NaN,NaN,NaN,...,A3,Feb-2018,Current,whole,Cash,36964.72,3674.46,3035.28,639.18,0.0
875,sergeant,4.0,NH,OWN,35000.0,Not Verified,11.73,NaN,NaN,NaN,...,B5,Mar-2018,Current,whole,Cash,5815.28,403.07,284.72,118.35,0.0
3355,"rn, clinical coordinator",2.0,MA,RENT,70000.0,Not Verified,27.31,NaN,NaN,NaN,...,A3,Mar-2018,Current,whole,Cash,3234.40,320.22,265.60,54.62,0.0
5956,NaN,NaN,CA,MORTGAGE,42000.0,Verified,17.54,72000.0,Not Verified,17.69,...,C5,Mar-2018,Current,whole,Cash,9560.67,716.11,439.33,276.78,0.0

In [5]:
# Handling missing values
data['emp_title'].fillna('Unknown', inplace=True)
data['emp_length'].fillna(data['emp_length'].median(), inplace=True)
data['annual_income_joint'].fillna(0, inplace=True)
data['verification_income_joint'].fillna('Not Verified', inplace=True)
data['debt_to_income'].fillna(data['debt_to_income'].median(), inplace=True)
data['debt_to_income_joint'].fillna(0, inplace=True)
data['months_since_last_delinq'].fillna(0, inplace=True)
data['months_since_90d_late'].fillna(0, inplace=True)
data['months_since_last_credit_inquiry'].fillna(data['months_since_last_credit_inquiry'].max(), inplace=True)
data['num_accounts_120d_past_due'].fillna(0, inplace=True)

# Verify that there are no null values left in these columns
print("Null values after handling:\n", data.isnull().sum())

Null values after handling:
 emp_title                           0
emp_length                          0
state                               0
homeownership                       0
annual_income                       0
verified_income                     0
debt_to_income                      0
annual_income_joint                 0
verification_income_joint           0
debt_to_income_joint                0
delinq_2y                           0
months_since_last_delinq            0
earliest_credit_line                0
inquiries_last_12m                  0
total_credit_lines                  0
open_credit_lines                   0
total_credit_limit                  0
total_credit_utilized               0
num_collections_last_12m            0
num_historical_failed_to_pay        0
months_since_90d_late               0
current_accounts_delinq             0
total_collection_amount_ever        0
current_installment_accounts        0
accounts_opened_24m                 0
months_since_last_credit_inquiry    0
num_satisfactory_accounts           0
num_accounts_120d_past_due          0
num_accounts_30d_past_due           0
num_active_debit_accounts           0
total_debit_limit                   0
num_total_cc_accounts               0
num_open_cc_accounts                0
num_cc_carrying_balance             0
num_mort_accounts                   0
account_never_delinq_percent        0
tax_liens                           0
public_record_bankrupt              0
loan_purpose                        0
application_type                    0
loan_amount                         0
term                                0
interest_rate                       0
installment                         0
grade                               0
sub_grade                           0
issue_month                         0
loan_status                         0
initial_listing_status              0
disbursement_method                 0
balance                             0
paid_total                          0
paid_principal                      0
paid_interest                       0
paid_late_fees                      0
dtype: int64

In [6]:
data.sample(5)

,emp_title,emp_length,state,homeownership,annual_income,verified_income,debt_to_income,annual_income_joint,verification_income_joint,debt_to_income_joint,...,sub_grade,issue_month,loan_status,initial_listing_status,disbursement_method,balance,paid_total,paid_principal,paid_interest,paid_late_fees
8090,respiratory therapist,10.0,LA,MORTGAGE,61000.0,Not Verified,30.45,0.0,Not Verified,0.0,...,A4,Jan-2018,Current,whole,Cash,1310.83,232.19,189.17,43.02,0.0
723,pastor,10.0,NY,MORTGAGE,65000.0,Verified,6.37,0.0,Not Verified,0.0,...,B4,Jan-2018,Current,fractional,Cash,20708.13,2981.12,2191.87,789.25,0.0
2428,dependency case manager,2.0,FL,RENT,42000.0,Source Verified,18.71,0.0,Not Verified,0.0,...,C1,Jan-2018,Current,whole,Cash,10590.97,1989.67,1409.03,580.64,0.0
4633,engineer,9.0,MD,MORTGAGE,87000.0,Source Verified,15.17,0.0,Not Verified,0.0,...,C4,Mar-2018,Current,whole,Cash,10623.13,776.60,376.87,399.73,0.0
9975,Unknown,6.0,MD,MORTGAGE,95000.0,Source Verified,10.66,0.0,Not Verified,0.0,...,C3,Mar-2018,Current,whole,Cash,18634.90,2037.09,1365.10,671.99,0.0

In [7]:
target = data['loan_status']
y = target
y.value_counts()

loan_status
Current               9375
Fully Paid             447
In Grace Period         67
Late (31-120 days)      66
Late (16-30 days)       38
Charged Off              7
Name: count, dtype: int64

In [8]:
X = data.drop('loan_status',axis=1)
X

,emp_title,emp_length,state,homeownership,annual_income,verified_income,debt_to_income,annual_income_joint,verification_income_joint,debt_to_income_joint,...,grade,sub_grade,issue_month,initial_listing_status,disbursement_method,balance,paid_total,paid_principal,paid_interest,paid_late_fees
0,global config engineer,3.0,NJ,MORTGAGE,90000.0,Verified,18.01,0.0,Not Verified,0.00,...,C,C3,Mar-2018,whole,Cash,27015.86,1999.33,984.14,1015.19,0.0
1,warehouse office clerk,10.0,HI,RENT,40000.0,Not Verified,5.04,0.0,Not Verified,0.00,...,C,C1,Feb-2018,whole,Cash,4651.37,499.12,348.63,150.49,0.0
2,assembly,3.0,WI,RENT,40000.0,Source Verified,21.15,0.0,Not Verified,0.00,...,D,D1,Feb-2018,fractional,Cash,1824.63,281.80,175.37,106.43,0.0
3,customer service,1.0,PA,RENT,30000.0,Not Verified,10.16,0.0,Not Verified,0.00,...,A,A3,Jan-2018,whole,Cash,18853.26,3312.89,2746.74,566.15,0.0
4,security supervisor,10.0,CA,RENT,35000.0,Verified,57.96,57000.0,Verified,37.66,...,C,C3,Mar-2018,whole,Cash,21430.15,2324.65,1569.85,754.80,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,owner,10.0,TX,RENT,108000.0,Source Verified,22.28,0.0,Not Verified,0.00,...,A,A4,Jan-2018,whole,Cash,21586.34,2969.80,2413.66,556.14,0.0
9996,director,8.0,PA,MORTGAGE,121000.0,Verified,32.38,0.0,Not Verified,0.00,...,D,D3,Feb-2018,whole,Cash,9147.44,1456.31,852.56,603.75,0.0
9997,toolmaker,10.0,CT,MORTGAGE,67000.0,Verified,45.26,107000.0,Source Verified,29.57,...,E,E2,Feb-2018,fractional,Cash,27617.65,4620.80,2382.35,2238.45,0.0
9998,manager,1.0,WI,MORTGAGE,80000.0,Source Verified,11.99,0.0,Not Verified,0.00,...,A,A1,Feb-2018,whole,Cash,21518.12,2873.31,2481.88,391.43,0.0
9999,operations analyst,3.0,CT,RENT,66000.0,Not Verified,20.82,0.0,Not Verified,0.00,...,B,B4,Feb-2018,whole,Cash,11574.83,1658.56,1225.17,433.39,0.0

In [9]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [18]:
categorical_columns = data.select_dtypes(include=['object']).columns
print(categorical_columns)

Index(['emp_title', 'state', 'homeownership', 'verified_income',
       'verification_income_joint', 'loan_purpose', 'application_type',
       'grade', 'sub_grade', 'issue_month', 'loan_status',
       'initial_listing_status', 'disbursement_method'],
      dtype='object')

In [19]:
# Print the columns of X_train to ensure they are as expected
print("Columns in X_train:", X_train.columns)

# Define categorical and numerical columns
cat_columns = ['emp_title', 'state', 'homeownership', 'verified_income', 'verification_income_joint', 
               'loan_purpose', 'application_type', 'grade', 'sub_grade', 'issue_month', 
               'initial_listing_status', 'disbursement_method']

# Check for missing columns
missing_columns = [col for col in cat_columns if col not in X_train.columns]
if missing_columns:
    print(f"Missing columns: {missing_columns}")

# Filter out missing columns
cat_columns = [col for col in cat_columns if col in X_train.columns]

# One-hot encode categorical columns
X_train_cat_encoded = pd.get_dummies(X_train[cat_columns], drop_first=True)
# Convert boolean columns to integers
X_train_cat_encoded = X_train_cat_encoded.astype(int)

# Display the one-hot encoded categorical features
print("One-hot encoded categorical features:")
print(X_train_cat_encoded.head())

Columns in X_train: Index(['emp_title', 'emp_length', 'state', 'homeownership', 'annual_income',
       'verified_income', 'debt_to_income', 'annual_income_joint',
       'verification_income_joint', 'debt_to_income_joint', 'delinq_2y',
       'months_since_last_delinq', 'earliest_credit_line',
       'inquiries_last_12m', 'total_credit_lines', 'open_credit_lines',
       'total_credit_limit', 'total_credit_utilized',
       'num_collections_last_12m', 'num_historical_failed_to_pay',
       'months_since_90d_late', 'current_accounts_delinq',
       'total_collection_amount_ever', 'current_installment_accounts',
       'accounts_opened_24m', 'months_since_last_credit_inquiry',
       'num_satisfactory_accounts', 'num_accounts_120d_past_due',
       'num_accounts_30d_past_due', 'num_active_debit_accounts',
       'total_debit_limit', 'num_total_cc_accounts', 'num_open_cc_accounts',
       'num_cc_carrying_balance', 'num_mort_accounts',
       'account_never_delinq_percent', 'tax_liens', 'public_record_bankrupt',
       'loan_purpose', 'application_type', 'loan_amount', 'term',
       'interest_rate', 'installment', 'grade', 'sub_grade', 'issue_month',
       'initial_listing_status', 'disbursement_method', 'balance',
       'paid_total', 'paid_principal', 'paid_interest', 'paid_late_fees'],
      dtype='object')
One-hot encoded categorical features:
      emp_title_ combo psc/hub  emp_title_ coordinator   \
9254                         0                        0
1561                         0                        0
1670                         0                        0
6087                         0                        0
6669                         0                        0

      emp_title_ director of engineering  emp_title_ lead hydraulic mechanic  \
9254                                   0                                   0
1561                                   0                                   0
1670                                   0                                   0
6087                                   0                                   0
6669                                   0                                   0

      emp_title_ machine operator   emp_title_ quality control technician   \
9254                             0                                       0
1561                             0                                       0
1670                             0                                       0
6087                             0                                       0
6669                             0                                       0

      emp_title_ truck driver  emp_title_1sg  emp_title_21 dealer  \
9254                        0              0                    0
1561                        0              0                    0
1670                        0              0                    0
6087                        0              0                    0
6669                        0              0                    0

      emp_title_2nd shift supervisor  ...  sub_grade_F2  sub_grade_F3  \
9254                               0  ...             0             0
1561                               0  ...             0             0
1670                               0  ...             0             0
6087                               0  ...             0             0
6669                               0  ...             0             0

      sub_grade_F4  sub_grade_F5  sub_grade_G1  sub_grade_G4  \
9254             0             0             0             0
1561             0             0             0             0
1670             0             0             0             0
6087             0             0             0             0
6669             0             0             0             0

      issue_month_Jan-2018  issue_month_Mar-2018  \
9254                     0                     1
1561                     1                     0
1670                     1                     0
6087                     0                     1
6669                     0                     0

      initial_listing_status_whole  disbursement_method_DirectPay
9254                             1                              0
1561                             1                              0
1670                             0                              0
6087                             1                              0
6669                             1                              1

[5 rows x 4077 columns]

In [25]:
# Standardize numerical variables
# Find numerical columns
numerical_columns = data.select_dtypes(include=[np.number]).columns
print(numerical_columns)
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train[numerical_columns])
X_train_scaled_df = pd.DataFrame(X_train_scaled, columns=numerical_columns)

# Merge scaled numerical and encoded categorical features
X_train_final = pd.concat([X_train_scaled_df.reset_index(drop=True), X_train_cat_encoded.reset_index(drop=True)], axis=1)
X_train_final.head()

Index(['emp_length', 'annual_income', 'debt_to_income', 'annual_income_joint',
       'debt_to_income_joint', 'delinq_2y', 'months_since_last_delinq',
       'earliest_credit_line', 'inquiries_last_12m', 'total_credit_lines',
       'open_credit_lines', 'total_credit_limit', 'total_credit_utilized',
       'num_collections_last_12m', 'num_historical_failed_to_pay',
       'months_since_90d_late', 'current_accounts_delinq',
       'total_collection_amount_ever', 'current_installment_accounts',
       'accounts_opened_24m', 'months_since_last_credit_inquiry',
       'num_satisfactory_accounts', 'num_accounts_120d_past_due',
       'num_accounts_30d_past_due', 'num_active_debit_accounts',
       'total_debit_limit', 'num_total_cc_accounts', 'num_open_cc_accounts',
       'num_cc_carrying_balance', 'num_mort_accounts',
       'account_never_delinq_percent', 'tax_liens', 'public_record_bankrupt',
       'loan_amount', 'term', 'interest_rate', 'installment', 'balance',
       'paid_total', 'paid_principal', 'paid_interest', 'paid_late_fees'],
      dtype='object')

,emp_length,annual_income,debt_to_income,annual_income_joint,debt_to_income_joint,delinq_2y,months_since_last_delinq,earliest_credit_line,inquiries_last_12m,total_credit_lines,...,sub_grade_F2,sub_grade_F3,sub_grade_F4,sub_grade_F5,sub_grade_G1,sub_grade_G4,issue_month_Jan-2018,issue_month_Mar-2018,initial_listing_status_whole,disbursement_method_DirectPay
0,-0.826923,0.534004,-0.538465,-0.36095,-0.385523,-0.315463,-0.68617,1.508552,-0.826511,-0.820446,...,0,0,0,0,0,0,0,1,1,0
1,0.015980,-0.797369,-0.186055,-0.36095,-0.385523,-0.315463,-0.68617,-1.057395,1.265393,-0.820446,...,0,0,0,0,0,0,1,0,1,0
2,-1.107891,0.014444,-0.088678,-0.36095,-0.385523,-0.315463,-0.68617,0.738768,-0.408130,0.779521,...,0,0,0,0,0,0,1,0,0,0
3,-1.388859,0.988619,-1.052507,-0.36095,-0.385523,-0.315463,-0.68617,0.738768,-0.408130,-0.820446,...,0,0,0,0,0,0,0,1,1,0
4,1.139851,0.071271,0.710869,-0.36095,-0.385523,-0.315463,-0.68617,-1.955476,0.847012,1.368982,...,0,0,0,0,0,0,0,0,1,1

In [21]:
# Print the columns of X_test to ensure they are as expected
print("Columns in X_train:", X_test.columns)

# Define categorical and numerical columns
cat_columns = ['emp_title', 'state', 'homeownership', 'verified_income', 'verification_income_joint', 
               'loan_purpose', 'application_type', 'grade', 'sub_grade', 'issue_month', 
               'initial_listing_status', 'disbursement_method']

# Check for missing columns
missing_columns = [col for col in cat_columns if col not in X_test.columns]
if missing_columns:
    print(f"Missing columns: {missing_columns}")

# Filter out missing columns
cat_columns = [col for col in cat_columns if col in X_test.columns]

# One-hot encode categorical columns
X_test_cat_encoded = pd.get_dummies(X_test[cat_columns], drop_first=True)
# Convert boolean columns to integers
X_test_cat_encoded = X_test_cat_encoded.astype(int)

# Display the one-hot encoded categorical features
print("One-hot encoded categorical features:")
print(X_test_cat_encoded.head())

Columns in X_train: Index(['emp_title', 'emp_length', 'state', 'homeownership', 'annual_income',
       'verified_income', 'debt_to_income', 'annual_income_joint',
       'verification_income_joint', 'debt_to_income_joint', 'delinq_2y',
       'months_since_last_delinq', 'earliest_credit_line',
       'inquiries_last_12m', 'total_credit_lines', 'open_credit_lines',
       'total_credit_limit', 'total_credit_utilized',
       'num_collections_last_12m', 'num_historical_failed_to_pay',
       'months_since_90d_late', 'current_accounts_delinq',
       'total_collection_amount_ever', 'current_installment_accounts',
       'accounts_opened_24m', 'months_since_last_credit_inquiry',
       'num_satisfactory_accounts', 'num_accounts_120d_past_due',
       'num_accounts_30d_past_due', 'num_active_debit_accounts',
       'total_debit_limit', 'num_total_cc_accounts', 'num_open_cc_accounts',
       'num_cc_carrying_balance', 'num_mort_accounts',
       'account_never_delinq_percent', 'tax_liens', 'public_record_bankrupt',
       'loan_purpose', 'application_type', 'loan_amount', 'term',
       'interest_rate', 'installment', 'grade', 'sub_grade', 'issue_month',
       'initial_listing_status', 'disbursement_method', 'balance',
       'paid_total', 'paid_principal', 'paid_interest', 'paid_late_fees'],
      dtype='object')
One-hot encoded categorical features:
      emp_title_ district manager  emp_title_ freight worker   \
6252                            0                           0
4684                            0                           0
1731                            0                           0
4742                            0                           0
4521                            0                           0

      emp_title_1st grade teacher   emp_title_3rd shift plant manager  \
6252                             0                                  0
4684                             0                                  0
1731                             0                                  0
4742                             0                                  0
4521                             0                                  0

      emp_title_3rd shift supervisor  emp_title_5th year apprentice   \
6252                               0                               0
4684                               0                               0
1731                               0                               0
4742                               0                               0
4521                               0                               0

      emp_title_Unknown  emp_title_a&d clerk   emp_title_a,b operater   \
6252                  0                     0                        0
4684                  0                     0                        0
1731                  0                     0                        0
4742                  0                     0                        0
4521                  0                     0                        0

      emp_title_aasp  ...  sub_grade_E5  sub_grade_F1  sub_grade_F2  \
6252               0  ...             0             0             0
4684               0  ...             0             0             0
1731               0  ...             0             0             0
4742               0  ...             0             0             0
4521               0  ...             0             0             0

      sub_grade_F3  sub_grade_F5  sub_grade_G1  issue_month_Jan-2018  \
6252             0             0             0                     1
4684             0             0             0                     0
1731             0             0             0                     0
4742             0             0             0                     0
4521             0             0             0                     1

      issue_month_Mar-2018  initial_listing_status_whole  \
6252                     0                             1
4684                     0                             1
1731                     1                             1
4742                     1                             1
4521                     0                             1

      disbursement_method_DirectPay
6252                              0
4684                              0
1731                              0
4742                              1
4521                              0

[5 rows x 1302 columns]

In [27]:
# Standardize numerical variables for test set
# Find numerical columns
numerical_columns = data.select_dtypes(include=[np.number]).columns
print(numerical_columns)
scaler = StandardScaler()
X_test_scaled = scaler.fit_transform(X_test[numerical_columns])
X_test_scaled_df = pd.DataFrame(X_test_scaled, columns=numerical_columns)

# Merge scaled numerical and encoded categorical features
X_test_final = pd.concat([X_test_scaled_df.reset_index(drop=True), X_test_cat_encoded.reset_index(drop=True)], axis=1)
X_test_final.head()

Index(['emp_length', 'annual_income', 'debt_to_income', 'annual_income_joint',
       'debt_to_income_joint', 'delinq_2y', 'months_since_last_delinq',
       'earliest_credit_line', 'inquiries_last_12m', 'total_credit_lines',
       'open_credit_lines', 'total_credit_limit', 'total_credit_utilized',
       'num_collections_last_12m', 'num_historical_failed_to_pay',
       'months_since_90d_late', 'current_accounts_delinq',
       'total_collection_amount_ever', 'current_installment_accounts',
       'accounts_opened_24m', 'months_since_last_credit_inquiry',
       'num_satisfactory_accounts', 'num_accounts_120d_past_due',
       'num_accounts_30d_past_due', 'num_active_debit_accounts',
       'total_debit_limit', 'num_total_cc_accounts', 'num_open_cc_accounts',
       'num_cc_carrying_balance', 'num_mort_accounts',
       'account_never_delinq_percent', 'tax_liens', 'public_record_bankrupt',
       'loan_amount', 'term', 'interest_rate', 'installment', 'balance',
       'paid_total', 'paid_principal', 'paid_interest', 'paid_late_fees'],
      dtype='object')

,emp_length,annual_income,debt_to_income,annual_income_joint,debt_to_income_joint,delinq_2y,months_since_last_delinq,earliest_credit_line,inquiries_last_12m,total_credit_lines,...,sub_grade_E5,sub_grade_F1,sub_grade_F2,sub_grade_F3,sub_grade_F5,sub_grade_G1,issue_month_Jan-2018,issue_month_Mar-2018,initial_listing_status_whole,disbursement_method_DirectPay
0,0.881453,-0.193004,-0.019626,-0.358832,-0.378852,-0.319847,-0.705288,0.322897,0.475261,-1.126362,...,0,0,0,0,0,0,1,0,1,0
1,-1.398782,-0.561403,-0.415121,-0.358832,-0.378852,-0.319847,1.117765,1.477477,0.047483,-1.126362,...,0,0,0,0,0,0,0,0,1,0
2,1.166483,-0.258789,-0.970190,-0.358832,-0.378852,1.279386,-0.111736,-0.190249,-0.808071,-0.455209,...,0,0,0,0,0,0,0,1,1,0
3,1.166483,0.274073,0.101430,-0.358832,-0.378852,-0.319847,1.796110,-0.190249,1.758592,1.726036,...,0,0,0,0,0,0,0,1,1,1
4,-0.258664,-0.271947,-1.250820,-0.358832,-0.378852,-0.319847,0.820988,0.451184,-0.380294,-1.294150,...,0,0,0,0,0,0,1,0,1,0

In [ ]:
# Logistic Regression
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression(fit_intercept=False, C=1e12, solver='liblinear')
logreg.fit(X_train_final, y_train)

In [ ]:
x_test_final.sample(5)

In [16]:
y_pred_logreg = logreg.predict(X_test_final)
#print("Logistic Regression Report:\n", classification_report(y_test, y_pred_logreg))
print("ROC AUC Score:", roc_auc_score(y_test_final, logreg.predict_proba(X_test_final)[:, 1]))

ValueError: The feature names should match those that were passed during fit.
Feature names unseen at fit time:
- emp_title_ district manager
- emp_title_ freight worker
- emp_title_1st grade teacher
- emp_title_3rd shift plant manager
- emp_title_3rd shift supervisor
- ...
Feature names seen at fit time, yet now missing:
- emp_title_ combo psc/hub
- emp_title_ coordinator
- emp_title_ director of engineering
- emp_title_ lead hydraulic mechanic
- emp_title_ machine operator
- ...